.grp-banner {
    color: black;
    text-align: left;
    padding: 32px;
    background-color: #162847;
    position:relative;
    height:90px;
}

.grp-logo{
    max-height:50px;
}

.grp-banner__line{
    content:'';
    background-color: #D1515A;
    height:10px;
    width: 33%;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:25px;
    animation-name: apparition-ligne;
    animation-duration: 2000ms;
}

.grp-banner__slogan{
    color: #ffffff;
    font-size:18px;
    

}

@keyframes apparition-ligne {
    0% { 
        opacity: 0;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    
    }
}


